<div class="button-position">
    <button type="button" class="btn btn-primary">Add Contacts</button>
</div>
<div class="container table-style" style="margin-bottom: 90px;">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <td>Sno.</td>
                <td>Name</td>
                <td>Number</td>
                <td>Email</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nizam</td>
                <td>8985977465</td>
                <td>nizam@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
        </tbody>
    </table>
</div>