 /* component css goes here */
 
 .button-position {
     margin-top: 93px;
     margin-left: 130px;
 }
 
 .table-style {
     margin-top: 23px;
     /* margin-bottom: 90px; */
     height: 450px;
     overflow-y: auto;
 }