<div class="button-position">
    <button type="button" class="btn btn-primary" (click)="addConatct()">Add Contacts</button>
</div>
<div class="container table-style">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th>Sno.</th>
                <th>Name</th>
                <th>Number</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Nizam</td>
                <td>8985977465</td>
                <td>nizam@gmail.com</td>
                <td>
                    <span href="" class="material-icons" matTooltip="Edit" [matTooltipPosition]="position">edit</span>
                    <span href="" class="material-icons" matTooltip="Delete" [matTooltipPosition]="position">delete</span>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Wasim</td>
                <td>9966588956</td>
                <td>wasim@gmail.com</td>
                <td>Edit</td>
            </tr>
        </tbody>
    </table>
</div>